<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GradeStats - Statistics App</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <div class="dataContainer">
            <div class="label"> Faculty Number:</div>
            <input type="password">
        </div>
        <div class="dataContainer">
            <div class="label"> EGN:</div>
            <input type="password">
        </div>
        <img class="captcha" src="C:\Users\user\Downloads\captcha.png">
        <div class="dataContainer">
            <div class="label"> Text from image:</div>
            <input type="text">
        </div>
        <button class="submitButton" type="submit">Submit</button>
    </div>
</body>
</html>