<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GradeStats - Statistics App</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <div class="facultyNumberContainer">
            <span class="label"> Faculty Number:</span>
            <input type="password">
        </div>
        <div class="egnContainer">
            <span class="label"> EGN:</span>
            <input type="password">
        </div>
        <button class="submitButton" type="submit">Submit</button>
    </div>
</body>
</html>